.layout {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: 100px auto;
  min-height: 100vh;
}

.layout-header {
  grid-area: 1 / 1 / 2 / 3;
  padding: 16px 8px;
}

.layout-header__container {
  background-color: rgb(16, 67, 134);
  color: var(--color-white);
  height: 100%;
  border-radius: 16px;
}

.layout-header__title {
  text-align: center;
  padding-top: 12px;
}

.layout-aside {
  grid-area: 2 / 1 / 3 / 2;
  padding: 0 0 32px 8px;
}

.layout-aside__container {
  background-color: rgb(16, 67, 134);
  color: var(--color-white);
  height: 100%;
  border-radius: 16px;
  padding: 16px;
}

.layout-aside__menu-item {
  cursor: pointer;
  margin: 8px 0;
}

.layout-main {
  grid-area: 2 / 2 / 3 / 3;
}

.layout-iframe {
  width: 100%;
  min-height: calc(100vh - 110px);
}
